VITE_SUPABASE_URL=https://kexftimhptozpsrtkjtj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtleGZ0aW1ocHRvenBzcnRranRqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyMDA2MDUsImV4cCI6MjA5NDc3NjYwNX0.NQRI0-LhAA3OkIHcN5FSiMf3C3OhlTehQcyfYpJ30Zg